body{
  background-color:  #F0F2F5;
  /* display: flex; */
  /* flex-direction: column; */
}
.body{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  margin-bottom: 20px;

  /* align-items: center; */
}
.header{
  display: flex;
  flex-direction: row;
}
.profile{
  border-radius: 50px;
  width: 70px;
  height: 70px;
padding: 3px;
display: inline;
}
.name{
  font-size: large;
  font-weight: bold;
  color: black;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;

}
.date{
  margin: 0px;
}
.post{
  width: 500px;
  height: 320px;
  margin-bottom: 2px;
  }
.a{
  display: flex;
  justify-content: space-around;
  font-size: large;
  color: #bec0c4;
  margin: 2px;
  /* margin-top: 2px; */
  padding: 0px;
  
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px;
  font-size: large;
  margin-bottom: 15px;
  padding: 5px;
  border-top: 1px solid  #CED0D4;
  border-bottom:1px solid #CED0D4;

}
button{
  border: 0px;
  background-color: white;
  color: #5B626A;
  font-size: large;
  padding: 5px;
  /* margin-bottom: 10px; */
  /* padding: 5px 54px; */
  cursor: pointer;

}
 


button:hover{
  background-color: #F2F2F2;
}
